@page
@model Razor.Pages.DaysModel
@{
    ViewData["Title"] = "Days page";
}
<div class="text-center">

      @if(Model.Data.FirstName != null && Model.Day != null)
        {
                <h2> @Model.Data.FirstName here are your working days</h2>

                <table class="table table-success table-striped">
                        <tr>
                        <th>Weekdays</th> 
                        <th>Selected</th>
                        </tr>
                    @foreach (var day in @Model.Day)
                    {
                    <tr>
                        <td>@day </td>
                        <td><input name="Day" type="checkbox" value="@day" id="flexCheckChecked" checked /><br /></td>
                    </tr>
                    }
                </table>
                 <div class="button">
                <button asp-page-handler ="submit" class="btn btn-primary btn-lg" type="submit" >Update</button>
                
                </div>

        }
</div>
