@page
@using Microsoft.AspNetCore.Http
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


  <div class="box">
    

@*            
    <h1 class="display-4">WELCOME BACK !</h1> *@
       <div class="form-box">

          <h3>Login In Here</h3>
        <form method="post">
          <div class="waiter"> 
            <label for="FirstName">Username </label>
            <input name="FirstName" placeholder="Enter Username" type="text"  asp-for="@Model.FirstName"/>
            <br>
            @* <label for="Password">Password: </label>
            <input placeholder="Enter Password" type="password"/>
            <br> *@

            <div class="button">
                @if(TempData["AlertMessage"] != null)
                    {
                        <div class="alert " role="alert" style="background-color: #ffc6c4;">
                             <strong>@TempData["AlertMessage"]</strong>
                        </div>
                    }
            <button class="btn" type="submit" value="Login">Login</button>
            </div>
          </div>
        
               
        </form>
       </div>             
        
  </div>

       