html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #847072;
}
.card {
  margin-top: 50px;
  height: 750px;
}
.nav-item {
  font-family: sans-serif;
  color: #3d313f;
  font-weight: bold;
}
.navbar-brand {
  font-family: sans-serif;
  color: #3d313f;
  font-weight: bold;
}
.border-top {
  font-family: sans-serif;
  color: #3d313f;
  font-weight: bold;
}
h1 {
  margin-bottom: 30px;
  margin-top: 30px;
  color: white;
  font-weight: bold;
  font-family: serif;
}
h2 {
  margin-bottom: 50px;
  margin-top: 40px;
  color: #3d313f;
  font-weight: bold;
  font-family: serif;
  text-align: center;
}

.form-check {
  font-size: 24px;
  color: #3d313f;
  font-weight: 400;
  font-family: serif;
}
.form-check-label {
  text-align: justify;
}

.checkbox {
  padding-left: 330px;
  padding-right: 300px;
}
.button {
  /* margin-top: 40px; */
}
.table1 {
  /* margin-bottom: 50px; */
  font-family: serif;
  font-size: 20px;
  width: 900px;
  margin-left: 200px;
}
#colorPicker {
  margin-top: 10px;
}

ol {
  list-style: none;
}

.table table-striped {
  width: 100%;
  text-align: center;
  font-size: 25px;
}
.table {
  background-color: #dcc1b0;
  /* margin-bottom: 50px; */
  font-family: serif;
  width: 900px;
  border-color: black;
}
